.center {
    margin-left: auto;
    margin-right: auto;
}

table {
    background-color: grey;
    width: 150px;
    height: 150px;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    min-width: 50px;
    height: 50px;
    text-align: center;
}

.buttons {
    margin: auto;
    text-align: center;
}